@import 'card.css';

.browse-frame {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 32px;
  background-color: var(--color-base-black-eta);
}

.browse-component__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: (100vw - 64px);
}

.browse-component__search-row {
  box-sizing: border-box;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-base-black-eta);
  min-width: 1224px;
  width: 1224px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.browse-component__season-row {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  flex-grow: 1;
  background-color: var(--rich-black);
}

.browse-component__search-input {
  width: 320px;
  font-family: League-Spartan;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
  height: 36px;
  padding: 8px;
  padding-left: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid var(--cyber-punk-green);
}

.browse-component__search-input::placeholder {
  font-family: League-Spartan;
  font-size: 18px;
  font-style: italic;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.browse-component__search-span {
  font-size: 40px;
  font-family: League-Spartan;
  font-weight: 600;
  color: white;
  letter-spacing: 0.04em;
  line-height: 1.25;
}

.browse-component__tab {
  font-family: Chunk;
  font-size: 20px;
  line-height: 1.15;
  margin-right: 10px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.04em;
}

.browse-component__tab-active {
  font-family: Chunk;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  margin-right: 10px;
  cursor: pointer;
  color: var(--amethyst);
  font-weight: 700;
}

.browse-component__tab:hover {
  font-size: 24px;
  color: var(--ultra-pink);
  transform: translateY(-2px);
  letter-spacing: 0.04em;
  transition: transform 200ms;
}

.browse-component__card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  flex-grow: 1;
  margin: 0px;
  padding: 32px;
  box-sizing: border-box;
  max-width: 1440px;
  align-self: center;
  gap: 10px;
}

.browse-component__heading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  background: var(--color-base-black-eta);
}

.browse-component__heading {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--color-base-blue-primary); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  color: var(--color-base-blue-primary);
  animation: typing 1.5s steps(11, end), blink-caret 1s step-end infinite;
}

.browse-component__subheading {
  opacity: 0;
  animation: fade-in-up 600ms ease-in 2s 1 forwards;
  color: var(--color-base-gray-eta);
  max-width: 712px;
}

.browse-component__arrow-down-pos-absolute {
  opacity: 0;
  position: absolute;
  z-index: 2;
  bottom: 64px;
  right: calc(50% - 56px);
  animation: fade-in-up 600ms ease-in 2.7s 1 forwards, bob 900ms linear 3.3s infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-base-blue-primary);
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bob {
  from,
  to {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}
