.contribute-banner__wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  background: linear-gradient(to bottom, var(--rich-black) 71%, var(--russian-violet));
  color: white;
}

.contribute-banner__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1024px;
}

.contribute-banner__image-container {
  width: 400px;
  max-width: 400px;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.contribute-banner__image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 5 / 16;
}

.contribute-banner__title {
  font-family: Pacifico, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  margin-block-start: 8px;
  margin-block-end: 20px;
  text-align: left;
  max-width: 1024px;
  background: var(--cyber-punk-green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-top: 32px;
}

.contribute-banner__text {
  max-width: 1024px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.15;
  font-style: normal;
  font-family: League-Spartan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-block: 8px;
  color: rgba(255, 255, 255, 0.75);
}

@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0.5;
    transform: translatex(400px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.fade-in-from-right {
  animation-name: fadeInFromRight;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

.delay-0 {
  animation-delay: 0ms;
}

.delay-1 {
  animation-delay: 400ms;
}

.delay-2 {
  animation-delay: 600ms;
}

.delay-3 {
  animation-delay: 800ms;
}
