@keyframes fade-up-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.contribute_desc-wrapper {
  opacity: 0;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1024px;
  animation-name: fade-up-in;
  animation-duration: 600ms;
  animation-delay: 350ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contribute__description {
  font-family: League-Spartan;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
