.content__parent-grid {
  box-sizing: border-box;
  min-height: 720px;
  width: 100%;
  border: none;
  font-family: League-Spartan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.content__shading-grid-base {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding: 32px;
  min-width: 100%;
  min-height: 720px;
}

.content__light-to-right-shading-grid {
  justify-content: flex-end;
  align-items: center;
}

.content__light-to-left-shading-grid {
  justify-content: flex-start;
  align-items: center;
}

.content__dark-to-left-shading-grid {
  justify-content: flex-start;
  align-items: center;
}

.content__dark-to-right-shading-grid {
  justify-content: flex-end;
  align-items: center;
}

.content__body {
  max-width: 500px;
}

.content__body h1 {
  margin-block: 8px;
}

.content__image-container-left {
  width: 300px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content__image-container-right {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content__image {
  width: 300px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 9 / 16;
}

@media screen and (min-width: 1224px) {
  .content__image-container-left,
  .content__image-container-right,
  .content__image {
    width: 644px;
  }

  .content__body {
    max-width: 600px;
  }
}

.content__button-row {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 6px;
  align-items: center;
}

.content__button-row a,
.content__button-row button {
  margin-right: 8px;
}
