@import 'contribute-hero.css';
@import 'contribute-description.css';
@import 'contribute-dropfile.css';

.contribute-frame {
  box-sizing: border-box;
  margin: 0px;
  padding: 16px;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
