@font-face {
  font-family: Relieve;
  src: url('_Relieve.ttf');
  font-display: swap;
}

@font-face {
  font-family: League-Spartan;
  src: url('_LeagueSpartan-VF.ttf');
  font-display: swap;
}

@font-face {
  font-family: Franchise;
  src: url('_Franchise-Free-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: Chunk;
  src: url('_ChunkFive-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Abril;
  src: url('_AbrilFatface-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Bel;
  src: url('_Belanosima-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Pacifico;
  src: url('_Pacifico-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: Alliance;
  src: url('_AllianceNo1.otf');
  font-display: swap;
}

.chunk {
  font-family: Chunk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ls {
  font-family: League-Spartan, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.franchise {
  font-family: Franchise, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.relieve {
  font-family: Relieve, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ab {
  font-family: Abril, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bel {
  font-family: Bel, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pac {
  font-family: Pacifico, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.alliance {
  font-family: Alliance, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}