.hero__container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  isolation: isolate;
  background-color: var(--rich-black);
  overflow: hidden;
  flex-wrap: nowrap;
}

.hero__image-background {
  left: 0;
  object-fit: cover;
  z-index: 1;
  aspect-ratio: 16 / 7;
  position: absolute;
}

.hero__title {
  font-size: 6rem;
  font-weight: 500;
  z-index: 3;
  margin-block: 8px;
  width: 105%;
  background: var(--cyber-punk-green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero__mini-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  flex-grow: 1;
  min-width: 800px;
}

@keyframes grow {
  0% {
    opacity: 1;
    transform: scale(0, 0.025);
  }
  50% {
    opacity: 1;
    transform: scale(1, 0.025);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.hero__lp-image {
  opacity: 0;
  height: 100vh;
  width: auto;
  animation-name: grow;
  animation-duration: 400ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

.hero__lp-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.hero__lp-row button {
  margin-right: 6px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero__fade-in-up {
  animation: fadeInUp 400ms ease-in 0s 1 normal;
}

.hero__text {
  max-width: 84%;
  color: white;
  font-size: 24px;
  font-weight: 600;
}
