@import 'fonts.css';
@import 'margin.css';
@import 'padding.css';
@import 'palette-base.css';
@import 'palette-twitch.css';

html,
body {
  font-family: Franchise, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  background-color: #000018;
}

.couch-page {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  position: relative;
}

.couch-page-main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  width: calc(100% - 96px);
}

.aside__container {
  height: 100vh;
  width: 96px;
  transition: width 400ms;
  background-image: linear-gradient(to bottom, #290f8eff, #0e0035ff),
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  position: sticky;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.aside__container-open {
  height: 100vh;
  width: 246px;
  transition: width 400ms;
  background-image: linear-gradient(to bottom, #290f8eff, #0e0035ff),
    linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  position: sticky;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.aside__logo-container {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aside__logo-container p {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.aside__badge-normal {
  height: 40px;
  width: 40px;
  transition: width 400ms;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aside__badge-normal:hover {
  box-shadow: 0px 0px 12px #290f8eff, 0px 0px 12px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.aside__badge-expanded {
  height: 40px;
  width: 204px;
  transition: width 400ms;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.aside__logo-expanded-text {
  font-size: 24px;
  background: linear-gradient(113.9deg, #2248f1ff -4.5%, #fe8febff 98.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-left: 4px;
  opacity: 0%;
  animation: appear 200ms linear 400ms 1 forwards;
}

.aside__expand-container-text {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 500;
  margin-left: 8px;
  opacity: 0%;
  animation: appear 200ms linear 400ms 1 forwards;
}

.aside__expand-container {
  margin-top: auto;
}

.aside__season-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
