:root {
  --risd-blue: #2248f1ff;
  --amethyst: #aa63fdff;
  --violet-web-color: #fe8febff;
  --mimi-pink: #ffdafdff;
  --ultra-pink: #f96deaff;
  --heliotrope: #e579ffff;
  --medium-blue: #3f1fb2ff;
  --ultramarine: #290f8eff;
  --russian-violet: #0e0035ff;
  --rich-black: #000018ff;
}
