:root {
  --yinmn-blue: #2e5077ff;
  --asparagus: #62a046ff;
  --yellow-green: #79c93bff;
  --moonstone: #4da1a9ff;
  --brilliant-rose: #ef57a1ff;
  --vermilion: #ff3333ff;
  --orange-crayola: #ff7a33ff;
  --orange-web: #fca311ff;
  --gold: #ffd633ff;
  --rich-black: #000018ff;
  --risd-blue: #2248f1ff;
  --amethyst: #aa63fdff;
  --violet-web-color: #fe8febff;
  --mimi-pink: #ffdafdff;
  --ultra-pink: #f96deaff;
  --heliotrope: #e579ffff;
  --medium-blue: #3f1fb2ff;
  --ultramarine: #290f8eff;
  --russian-violet: #0e0035ff;
  --dark-gray: #1f2833;
}
