:root {
  --yinmn-blue: #2e5077ff;
  --asparagus: #62a046ff;
  --yellow-green: #79c93bff;
  --moonstone: #4da1a9ff;
  --brilliant-rose: #ef57a1ff;
  --vermilion: #ff3333ff;
  --orange-crayola: #ff7a33ff;
  --orange-web: #fca311ff;
  --gold: #ffd633ff;
  --rich-black: #000018ff;
}
