.shelf-banner__container {
  width: 100%;
  height: 72px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--cyber-punk-green);
}

.shelf-banner__text {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  font-family: Chunk;
  color: var(--rich-black);
}

.shelf-banner__span {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
  font-family: Chunk;
  background: var(--cyber-punk-blue-1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@keyframes fadeInUp {
  0% {
    opacity: 0.5;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
}
