@import "palette-base.css";
@import "palette-twitch.css";

.story__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.story__micro-banner {
  margin-top: 40px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 40px;
  background-color: #ef57a1ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.story__micro-banner p {
  font-family: Pacifico;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  color: black;
}

.story__micro-banner span {
  float: right;
}

.story_title-container {
  margin-top: 40px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.story_title-container h1 {
  font-family: Chunk;
  font-weight: 900;
  font-size: 4rem;
  font-weight: 500;
  z-index: 3;
  margin-block: 8px;
  color: white;
}

.story_sub-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.story_description {
  font-family: Chunk;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 16px;
}

.story_author {
    font-family: Chunk;
    text-align: left;
    font-size: 14px;
    background: linear-gradient(113.9deg, var(--violet-web-color) -4.5%, var(--risd-blue) 98.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.story_image-container {
  width: 100%;
  height: 300px;
}

.story_image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 14;
}

.story_content {
  max-width: 800px;
  color: white;
  font-family: League-Spartan;
}