@import 'palette.css';
@import 'chip.css';
@import 'margin.css';
@import 'padding.css';
@import 'button.css';

.story__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}

.story__micro-banner {
  margin-top: 40px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 40px;
  background: linear-gradient(to right, var(--amethyst), var(--ultra-pink));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.story__micro-banner p {
  font-family: Pacifico;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  color: black;
}

.story__micro-banner span {
  @import 'palette-twitch.css';
  float: right;
}

.story_title-container {
  margin-top: 40px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.story_title-container h1 {
  font-family: Chunk;
  font-weight: 900;
  font-size: 4rem;
  font-weight: 500;
  z-index: 3;
  margin-block: 8px;
  color: white;
}

.story_sub-container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.story_description {
  font-family: Chunk;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-size: 16px;
}

.story_author {
  font-family: Chunk;
  text-align: left;
  font-size: 16px;
  color: var(--orange-web);
  letter-spacing: 0.04em;
}

.story_image-container {
  width: 100%;
  height: 500px;
}

.story_image {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  aspect-ratio: 16 / 7;
}

.story_content {
  max-width: 800px;
  color: white;
  font-family: League-Spartan;
}

@media screen and (min-width: 1224px) {
  .story_content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 820px) {
  .story_content {
    max-width: 90%;
  }
}

.story__markdown-layer p {
  font-size: 20px;
}

.story__markdown-layer h2 {
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(to right, var(--orange-crayola), var(--gold));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.story_badge_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 600px;
  margin-bottom: 36px;
}

.story_social_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  width: 100%;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-family: League-Spartan;
  font-weight: 600;
}

.story_social_action_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 180px;
  max-width: 236px;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  margin-bottom: 20px;
}

.story_social_action_container span {
  cursor: pointer;
}
.story_social_action_container span:hover {
  transform: scale(1.25);
}
