<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/index.css">

    </head>
    <body>
        <div id="evergreen-terrace"></div>
        <script src="react-shared.bundle.js" defer></script>
        <script src="styled-components.bundle.js" defer></script>
        <script src="{{ page.bundle }}.bundle.js" defer></script>
    </body>
</html>